* {
  font-family: Arial, Helvetica, sans-serif;
}

.espacamento {
  height: 500px;
}
body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
}

nav .active a,
nav a:hover {
  background-color: #39aae1;
  color: white;
}

#banner {
  display: flex;
  justify-content: center;
  background-image: url("../images/casal.jpeg");
  background-position: center;
  background-size: cover;
  height: 670px;
}

.column {
  flex-direction: column;
}

.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_headline h1 {
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px 0 black;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
}

.banner_headline h2 {
  color: white;
  font-size: 21px;
  text-shadow: 1px 1px 0 black;
  margin: 0px;
  padding: 0px;
  max-width: 350px;
  margin-top: 30px;
}

.banner_options {
  height: 210px;
  display: flex;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: #fff;
  padding: 20px;
}

.banner1 {
  background-color: #39aae1;
}
.banner2 {
  background-color: #0079c7;
}
.banner3 {
  background-color: #2b4c99;
}

.banner_title {
  font-size: 21px;
}

.banner_desc {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner_options a {
  display: inline-block;
  border: 1px solid #ffff;
  padding: 5px;
  color: #ffff;
  font-size: 13px;
  text-decoration: none;
}

.banner_dia {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(148, 146, 146);
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  background-position: center;
  font-size: 13px;
}

#geral {
  display: flex;
  justify-content: center;
}

#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget_title_text {
  color: #000000;
  font: size 21px;
  font-weight: bold;
}

.widget_title_bar {
  width: 50px;
  height: 2px;
  background-color: #36a9e1;
  margin-top: 10px;
}

/*.widget_body{}*/

.flex {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

article a {
  text-decoration: none;
}

article .news_data {
  display: flex;
}

article .news_posted_at {
  background-color: #2b4c99;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
  margin-right: 2px;
}

article .news_comments {
  background-color: #39aae1;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
}

article .news_thambnail {
  margin-top: 30px;
}

article .news_thambnail img {
  width: 100%;
  height: auto;
}

article .news_title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
  font-size: 23px;
}

article .news_resume {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #5c5c5c;
  font-size: 14px;
  line-height: 20px;
}

.aside_bloco {
  display: flex;
  flex-wrap: wrap;
}

.aside_news {
  background-color: #39aae1;
  min-width: 150px;
  min-height: 155px;
  margin-bottom: 25px;
  justify-content: space-between;
  align-items: center;
}

.make_resume {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #5c5c5c;
  font-size: 14px;
  line-height: 20px;
}

.make_contats {
  display: flex;
  justify-content: left;
  border-top: 1px solid rgb(117, 114, 114);
  /*border-bottom: 1px solid rgb(148, 146, 146);*/
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  background-position: center;
  color: #5c5c5c;
  font-size: 13px;
}

.aside_bloco a {
  justify-content: center;
  padding-top: 50%;
  color: #ffffff;
  text-decoration: none;
}

.aside_news:hover {
  background-color: #2b4c99;
  transition: 0.5s;
}

/*CONFIGURAÇOES FOOTER*/

footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

.footer_menu {
  display: flex;
}

.fm_1,
.fm_2,
.fm_3 {
  flex: 1;
  color: #ffff;
  padding: 20px;
  font-size: 21px;
}

.fmdesc {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.fm_1 {
  background-color: #39aae1;
}
.fm_2 {
  background-color: #0079c7;
}
.fm_3 {
  background-color: #2b4c99;
}

.footer_menu a {
  display: block;
  text-decoration: none;
  color: #ffff;
}

.footer_area {
  display: flex;
}

.footer_areaitem {
  flex: 1;
  color: #ffff;
}

.flexColumn {
  flex-direction: column;
}

footer .widget_title_text {
  color: #ffff;
}

.area_1 {
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  color: #5c5c5c;
  padding-bottom: 60px;
  margin-right: 15px;
}

.banner_1a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  font-size: 12px;
  line-height: 8px;
  color: #5c5c5c;
  padding-bottom: 10px;
  margin-right: 15px;
}

.img_1 {
  display: flex;
  height: 25px;
}

.img_1 img {
  padding: 0 10px 0 0;
  box-sizing: border-box;
}

.footer_copy {
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 12px;
  margin-top: 30px;
}

/* .footer_areaitem li {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  padding-bottom: 30px;
  list-style: square;

} */

.area_2 {
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  padding-bottom: 20px;
  margin-right: 15px;
}

.area_2 .years {
  color: #36a9e1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.area_3 {
  text-align: left;
  font-size: 12px;
  line-height: 20px;
  color: #5c5c5c;
  padding-bottom: 10px;
  margin-right: 10px;
}

.years3 {
  color: #36a9e1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.mm_line {
  display: block inline;
  height: 3px;
  background-color: #39aae1;
}

/*@media*/

@media (max-width: 600px) {
  .banner_headline h1 {
    font-size: 30px;
    color: white;
    margin-left: 10px;
  }

  .banner_headline h2 {
    color: white;
    margin-left: 10px;
    height: 250px;
  }

  .banner_options {
    height: auto;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  #geral {
    margin-left: 20px;
  }

  .aside_bloco a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
  }
  .aside_news {
    height: 50px;
    width: 550px;
  }

  .widget_title {
    margin-top: 170px;
  }

  .footer_menu {
    flex-direction: column;
  }

  .footer_area {
    flex-direction: column;
    margin-left: 20px;
  }

  .footer_copy {
    padding-left: 20px;
  }

  header .container {
    flex-direction: row;
  }

  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffff;
  }

  header {
    height: auto;
  }

  .logo {
    padding-left: 20px;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
